[submodule "parlaylib"]
	path = include/parlaylib
	url = https://github.com/cmuparlay/parlaylib
[submodule "include/parlaylib"]
	path = include/parlaylib
	url = https://github.com/cmuparlay/parlaylib
